<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ChatApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_placeholder"
        android:label="ZeroData Chat"
        android:roundIcon="@drawable/ic_placeholder"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZeroDataChat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
            android:name="info.mqtt.android.service.MqttService"
            android:foregroundServiceType="remoteMessaging"
            tools:replace="android:foregroundServiceType"
            android:enabled="true" />
            
        <activity
            android:name=".CrashActivity"
            android:process=":error_report"
            android:theme="@style/Theme.ZeroDataChat"
            android:exported="false" />
    </application>

</manifest>
